<label for="numero">Número do cartão:</label>
<br />
<input type=name maxlength="19" minlength="19" value="" name="numerocartao" >
<label for="name">Nome impresso no cartão:</label>
<br />
<input type=name maxlength="50" minlength="3" value="" name="nomecartao">
<label for="name">Nome:</label>
<br />
<input type=name maxlength="50" minlength="3" value="@Model.Cliente.Nome" name="" >