<nav>
        <div class="fotos">
            <div class="letra">
            
                <h3>Fotos de eventos</h3>
            </div>   
                <div class="cima">
                    <img src="/imagens/festaa.png">
                    <img src="/imagens/foto2.png">
                </div>
                <div class="baixo">
                    <img src="/imagens/foto3.png">
                    <img src="/imagens/foto4.png">
                </div>
        </div>
        <div class="fotos">  
            <div class="letra">
                <h3>Local</h3>
            </div>
            <div class="cima">
                <img src="/imagens/local/local1.png">
                <img src="/imagens/local/local2.png">
            </div>
            <div class="baixo">
                <img src="/imagens/local/local3.png">
                <img src="/imagens/local/local4.png">
            </div>
        </div>
    </nav>