<nav id="corpoIndex">
    <h2>Próximos Eventos</h2>
    <div class="evento">
        <img src="imagens/cartaz 1.jpg">
        <p class="desc">descrição evento 1</p>
    </div>
    <div class="evento">
        <img src="imagens/festa junina.jpg">
        <p class="desc">descrição evento 2</p>
    </div>
    <br>
    <div id="orcamento">
        <ul>
            <li><b>Faça Seu Orçamento</b></li>
        </ul>
    </div>
</nav>
