* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul > li > a{
    color: #ff9933;
    text-decoration: none;
}
#menuTd{
    position: initial;
    /* position: fixed; */
}
#Logo{
    background: #7d0093;
    align-items: center;
    right: 50%;
    
}
#Logo > a >img{
    width: 10%;
}
#menu > ul{
    background: #67007a;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    float: left;
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 1%;
    cursor: pointer;
}

#menu > ul > li>a:hover{
    color: #7d0093;
    background-color: #ff9933;
} 
ul>li{
    color: #ff9933;
}

/*------------------ Eventos - INDEX---------------- */
#corpoIndex{
    margin-top: 10%;
    margin-right:228px;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 5%
    
}
#corpoIndex > h2{
    font-size: 22px;
}
h2{
    background: #7d0093;
    color: #ff9933;
}
#orcamento>ul{
    
    background: #7d0093;
    margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
    list-style-type: none;
    text-align: center;
    border-radius: 100%;
    padding: 3%;
    
    
}
.desc{
    background-color: #7d0093;
    color: #ff9933;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: -5px;
    margin-bottom: 8px;
    
}
.desc:hover{
    padding-bottom: 15%;
}
/* --------------------Fim eventos --------------------*/
/* ---------------------CADASTRO------------------- */

#dadoscadastro{
    padding: 20%;
    width: auto;
    display: flex;
    justify-content: center;
    color: #ff9933;
}
#criar{
    padding-top:2%;
    margin-bottom: 10%;
    text-align: center;
}
#criar>input{
    background:white;
}

/* -------------------Fim Cadastro------------- */

/*----------------------- AGENDAR------------------ */

#Agendamento {
    
    padding-top: 10%;
    padding-left: 25%;
    padding-right:25%; 
    padding-bottom: 10%;
    width: auto; 
    display: flex;
    /* justify-content: center; */
    color: #ff9933;
    margin-left: 5%;
}
#Agendamento > #col1{
    display: none;
}

/* meus eventos */
.letras{
    color: #ff9933;
}
/*--------------- fim Agendar------------------- */
body{
    /* background-color: black; */
}
#rodape{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
    background: #7d0093;
    text-align: center;
    padding: 5px 0;
    
    width:100%;
    position: absolute;
}